body{
    font-family: sans-serif;
    background-color: bisque;
} 
.hr-custom {
    border: 0;
    height: 3px;
    background: #000000;
    background-image: linear-gradient(to right, #ccc, #333, #ccc)
}
table, th, td{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    #th{
        background-color: aqua
    }
    #td{
        background-color: yellow;
    }
}
p{
    font-size: 35px;
    font-weight: bolder; 
}
h2{
    font-size: 35px;
    text-decoration-line: underline;
}
#vd{
    color: red;
    font-size: 20px;
    text-decoration-line: underline;
}
a{
    font-size: 30px;
}
/* 1.:hover - tác dụng lên selector khi di chuột qua*/
/* .line:hover{
    color: red;
}
#line1:hover{
    color: blue;
    font-size: 40px;
} */
 /* 2.:active - tác dụng lên selector khi nhấn giữ chuột*/
 /* .line:active {
    color: red;
    font-size: 40px;
 }
 #line1:active{
    color: red;
    font-size: 40px;
 } */
  /* 3.:link - tác dụng lên selector khi chưa click vào truy cập */
/* .click:link{
    color: black;
} */
 /* 4. Tác dụng lên selector khi đã click truy cập vào link  */
/* .click:visited{
    color: red;
} */
 /* 5. Tác dụng lên các thẻ div không có nội dung  */
 .elm:empty{
    width: 100px;
    height: 100px;
    background-color: blue;
 }
 .elm{
    width: 100px;
    height: 100px;
    background-color: red;}
  /* 6. Chọn thẻ id="#" khi có trên URL có hash tương ứng
h2:target {
    color: blue;
} */
 /* 7. Chọn các thẻ p là thẻ con đầu tiên
p:first-child {
    color: red;
    font-size:30px;
}  */
/* 8.  Chọn các thẻ p là thẻ con cuối cùng
P:last-child{
    color: red;
    font-size: 30px;
} */
/* 9. Chọn các thẻ p là thẻ con thứ 2 từ trên xuống */
/* p:nth-child(3n+1) {
    color: red; 
    font-size: 30px;
} */
/* 10. Chọn các thẻ p là thẻ con thứ 2 tính từ cuối lên */
/* p:nth-last-child(3n+1) {
    color: red;
    font-size: 30px;
} */
 /* 11. Chọn các thẻ p là thẻ con duy nhất */
 /* p:only-child {
    color: red;
    font-size: 30px;
 } */